#footer_content {
    padding-left: 15%;
    background-color: #000;
}

h2 {
    color: #eee;
}

.img_footer {
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}